<style>
	.nav {
background: white;
text-align: center;
}
.nav a {
text-decoration: none;
display: block;
transition: .5s linear;
}
.nav ul {
list-style: none;
margin: 0;
padding: 0;
}
.topmenu > li {
display: inline-block;
/*Если вместо block задать inline-block,
меню будет горизонтальным*/
position: relative;
width: 200px;
}
.topmenu > li > a {
font-weight: bold;
padding: 10px 30px;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2px;
color: #1c1c1c;
border: 1px solid #999;
}
.submenu {
position: absolute;
left: 10px;
z-index: 5;
width: 240px;
visibility: hidden;
opacity: 0;
transform: translateY(10px);
transition: .5s ease-in-out;
}
.submenu li {
position: relative;
border: 1px solid #999;
margin:2px;
}
.submenu a {
background: white;
color: #1c1c1c;
text-align: center;
font-size: 14px;
letter-spacing: 1px;
padding: 10px 20px;
}
.submenu .submenu {
position: absolute;
top: 0;
left: 200px;
}
.nav li:hover > .submenu {
visibility: visible;
opacity: 1;
transform: translateY(0px);
}
</style>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular toasters<br>Collection</h3>
								<a href="#" class="cta-btn">Choose now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular places<br>Collection</h3>
								<a href="#" class="cta-btn">Choose now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular enterainment<br>Collection</h3>
								<a href="#" class="cta-btn">Fun now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
<!-- ADS ___________________________________________________________________________________________________________________-->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/place2.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Restaurants</p>
								<h3 class="product-name"><a href="#">Bakyt Hall</a></h3>
								<h4 class="product-price">$15000.00 <del class="product-old-price">$16000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/toa1.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Toasters</p>
								<h3 class="product-name"><a href="#">Alikhan Yesilbay</a></h3>
								<h4 class="product-price">$2000.00 <del class="product-old-price">$3000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/singer.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Enterainment</p>
								<h3 class="product-name"><a href="#">Whitney Houston</a></h3>
								<h4 class="product-price">$100000.00 <del class="product-old-price">$15000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/food.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Food</p>
								<h3 class="product-name"><a href="#">Halal</a></h3>
								<h4 class="product-price">$5000.00 <del class="product-old-price">$6000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/place.jpeg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Restaurants</p>
								<h3 class="product-name"><a href="#">ZHETISU ballroom</a></h3>
								<h4 class="product-price">$9000.00 </h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/dance.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Enterainment</p>
								<h3 class="product-name"><a href="#">Angels Dance Group</a></h3>
								<h4 class="product-price">$1000.00</h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/food2.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Food</p>
								<h3 class="product-name"><a href="#">Alel</a></h3>
								<h4 class="product-price">$7000.00 <del class="product-old-price">$8000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/camera.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Cameraman</p>
								<h3 class="product-name"><a href="#">Naran Production</a></h3>
								<h4 class="product-price">$6000.00 <del class="product-old-price">$7000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div id="hot-deal" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">Specials in honor of the holidays</h2>
							<p>30% discount on all selection</p>
							<a class="primary-btn cta-btn" href="#">Look now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav">
			<ul class="topmenu">
				<li><a href="">About Us</a>
			<ul class="submenu">
				<li><a href="">Team</a>
			<ul class="submenu">
				<li><a href="">Admins</a></li>
				<li><a href="">Moderators</a></li>
			</ul>
				</li>
				<li><a href="">Purpose</a>
			<ul class="submenu">
				<li><a href="">Main goal</a></li>
				<li><a href="">Uniqueness</a></li>
			</ul>
				</li>
			</ul>
				</li>
				<li><a href="">Contact Us</a>
			<ul class="submenu">
				<li><a href="">Social Media</a>
			<ul class="submenu">
				<li><a href="">Instagram</a></li>
				<li><a href="">YouTube</a></li>
			</ul>
				</li>
				<li><a href="">Mobile</a>
			<ul class="submenu">
				<li><a href="">8(708)611 3991</a></li>
				<li><a href="">391-79-32</a></li>
			</ul>
				</li>
			</ul>
				</li>
			</ul>
		</div>
		<div id="newsletter" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up to get <strong>MORE BONUSES</strong></p>
							<form>
								<input class="input" type="text" [(ngModel)]=name name="name" placeholder="Enter Your Email"/>
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Hi, {{name}}</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
